cache_*/
__pycache__/
.DS_Store
.env*
aizynthfinder/
*.pkl
!models/xgboost_hallucination_model.pkl
!models/xgboost_featurizer.pkl
pistachio/
.idea/
.vscode/

results/
node_modules/
coverage/

*.out
*.log

docs/build/
docs/_build/
*.egg-info/
