cache_*/
__pycache__/
.DS_Store
.env*
aizynthfinder/
*.pkl
pistachio/
.idea/
.vscode/

results/
node_modules/
coverage/

*.out
*.log

docs/build/
docs/_build/
*.egg-info/
deepretro/build/
.worktrees/
build/
