Cython>=3.2.9,<3.3.0
numpy<2
pandas
scikit-learn
rdkit
aizynthfinder
anthropic
openai
litellm
tqdm
matplotlib
python-dotenv
rootutils
flask
flask_cors
structlog
diskcache
langfuse
joblib
pytest
pytest-cov