Cython>=3.0.0,<3.2.0
numpy<2
pandas
scikit-learn
rdkit
aizynthfinder
anthropic
openai
litellm
tqdm
matplotlib
python-dotenv
rootutils
flask
flask_cors
structlog
diskcache
langfuse
joblib
pytest
pytest-cov